<!DOCTYPE html>
<header></header>
<body> 
    <div> Create group page</div>
    <form method="post">
        <input required name="name" type="text" />
        <input type="submit" value="Create"> 
    </form>
</body>
<footer></footer>