<!DOCTYPE html>
<header></header>
<body> 
    <div> Show group page</div>
    {{#each Groups}} 
    <form type="button" action="/group/delete/{{@index}}" method="post">
        <button type="submit" >
        <div>{{"name"}}</div>
        </button>
    </form>
    {{/each}}
</body>
<footer></footer>