<!DOCTYPE html>
<header></header>
<body> 
    <div> Create bank page</div>
        <form method="post">
            <input required name="name" type="text" />
            <input required name="money" type="text" /> 
            <input type="submit" value="Create"> 
        </form>
</body>
<footer></footer>