<form method="post" class="create">
    <input required name="name" type="text" placeholder="Name"/>
    <input required name="money" type="text" placeholder="Money"/> 
    <input type="submit" value="Create"> 
</form>