<div> Show bank page</div>
{{#each Banks}} 
<form type="button" action="/bank/delete/{{@index}}" method="post">
    <button type="submit" >
    <div>{{"name"}}</div>
    <div>{{"money"}}</div>
    </button>
</form>
{{/each}}