<!DOCTYPE html>
<header></header>
<body> 
    <div> Create operation page</div>
        <form method="post">
            <input placeholder="Date" required id="date" name="date" type="datetime-local" />
            <input placeholder="Money" required id="money" name="money" type="text" />
            <select placeholder="Bank" required id="bankId" name="bankId">
                {{#each data.[0]}}
                <option value="{{bankId}}">{{name}}</option> <!-- > Name необходимо будет перевести в другой массив + EACH </!--> 
                {{/each}}
            </select>
            <input placeholder="Desc." id="description"name="description">
            <select placeholder="Group"  required id="groupId" name="groupId">
                {{#each data.[1]}}
                <option value="{{groupId}}">{{name}}</option> <!-- > Name необходимо будет перевести в другой массив + EACH </!--> 
                {{/each}}
            </select>
            <input type="submit" value="Create"> 
        </form>
</body>
<footer></footer>