<!DOCTYPE html>
<header></header>
<body> 
    <div> Create operation page</div>
        <form method="post">
            <input required name="date" type="datetime-local" />
            <input required name="money" type="text" />
            <select required name="bankId">
                <option value="{{bankId}}">{{name}}</option> <!-- > Name необходимо будет перевести в другой массив + EACH </!--> 
                <option value="1">Сбер</option> 
            </select>
            <input required name="description">
            <select required name="bankId">
                <option value="{{groupId}}">{{name}}</option> <!-- > Name необходимо будет перевести в другой массив + EACH </!--> 
                <option value="1">Другое</option>
            </select>
            <input type="submit" value="Create"> 
        </form>
</body>
<footer></footer>