html,
body {
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  flex-shrink: 1;
  flex-wrap: wrap;
  overflow: auto;
  transition: flex-basis 0.5s ease-in-out;
}

.button {
  overflow: hidden;
  width: 200px;
  height: 106px;
  flex-shrink: 0;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: #d9d9d9;
  user-select: none;
  transition: all 0.5s ease;
}
.button:hover {
  border-radius: 20px;
  background-color: #f3f3f3;
}
.button:active {
  border-radius: 20px;
  background-color: silver;
}

.button-info {
  overflow: hidden;
  width: 200px;
  height: 106px;
  flex-shrink: 0;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: #d9d9d9;
  user-select: none;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.button-info:hover {
  border-radius: 20px;
  background-color: #f3f3f3;
}
.button-info:active {
  border-radius: 20px;
  background-color: silver;
}

.button-add {
  overflow: hidden;
  width: 200px;
  height: 106px;
  flex-shrink: 0;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: #d9d9d9;
  user-select: none;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 500%;
}
.button-add:hover {
  border-radius: 20px;
  background-color: #f3f3f3;
}
.button-add:active {
  border-radius: 20px;
  background-color: silver;
}
.button-add :visited {
  color: black;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #d9d9d9;
  transition: all 0.5s ease;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.nav-button:hover {
  border-radius: 10px;
  background-color: #f3f3f3;
}
.nav-button:active {
  border-radius: 10px;
  background-color: silver;
}
.nav-button:visited {
  color: black;
}

.button.expand {
  width: 420px;
  height: 232px;
}

.sidenav {
  display: flex;
  width: 50px;
  padding: 20px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
  background: #D9D9D9;
}

.time-txt {
  padding-right: 5px;
  display: flex;
  height: 41px;
  flex-shrink: 0;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.75);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  white-space: break-spaces;
}

.txt {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.txt.expand {
  font-size: 24px;
}

.money {
  height: 106px;
  margin-top: -41px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.money.expand {
  padding: 14px 24px;
  height: 41px;
  justify-content: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 60%;
  padding: 0px 24px 24px;
}
.info .desc {
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  user-select: text;
  text-align: initial;
}
.info .desc::selection {
  background-color: #aaaaaa;
}

.fade {
  animation: fadeInOut 1s ease-in forwards;
}

.fadeFast {
  animation: fadeInOut 4s ease-in backwards;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  25%, 50% {
    opacity: 0;
  }
}
.create {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  width: 15%;
}

.control-button {
  display: flex;
  margin-top: -30px;
  justify-content: flex-end;
}

.del-circle {
  display: flex;
  justify-content: right;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: rgb(228, 0, 0);
  margin: 0px 10px 10px 0px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.red {
  color: red;
}

.green {
  color: green;
}

/*# sourceMappingURL=style.css.map */
